* {
  box-sizing: border-box;
  max-width: auto; /* or whatever width you want */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden
}

html {
  scroll-behavior: smooth;
}

@keyframes border-snake {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-border-snake {
  background-size: 200% 200%;
  animation: border-snake 5s linear infinite;
}
