html {
  scroll-behavior: smooth;
}

@keyframes border-snake {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0;
  }
}

.animate-border-snake {
  background-size: 400% 400%;
  animation: border-snake 20s linear infinite;
}
